<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-input
      class="input"
      label="Email"
      labelPlacement="stacked"
      type="email"
      fill="outline" 
      placeholder="gustavokarnopp.dev@gmail.com"
      [(ngModel)]="login.email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input 
      class="password input input-unico" 
      type="password" 
      labelPlacement="stacked" 
      label="Senha"
      fill="outline" 
      [(ngModel)]="login.password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <div class="input-container"> 
    <ion-button shape="round" (click)="confirm()" expand="block">Fazer Login</ion-button>
  </div>
</ion-content>

