  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Registre seu Jogo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Registrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nome"
            labelPlacement="stacked"
            type="text"
            placeholder="Gustavo Karnopp"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="password" type="password" labelPlacement="stacked" label="Senha"[(ngModel)]="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Nome do Evento"
            labelPlacement="stacked"
            type="text"
            placeholder="Panela de quinta-feira"
            [(ngModel)]="eventName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Tipo do Evento"
            labelPlacement="stacked"
            type="text"
            placeholder="Tipo do Evento"
            [(ngModel)]="eventType"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
