<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Vamos iniciar?</h1>
  <p>Organize jogos de basquete com amigos e acompanhe suas estatísticas sem esforço</p>

  <div class="logo-container">
    <img src="assets/img/img-inicio.png" alt="Logo" class="logo">
  </div>

  <div class="input-container"> 
    <ion-button class="button-register" shape="round" id="open-modal-login" expand="block" >Registrar Lider</ion-button>
  </div>
  <app-registrar-se></app-registrar-se>
  <app-login></app-login>

  <span class="link">
    <p>Pronto para o jogo?</p>
    <a id="open-modal" expand="block">Ja sou Lider</a>
  </span>
</ion-content>