<ion-content>
  <ion-img
    src="../../../../assets/img/detalhe.png"
    alt="Detalhes do Jogo"
  ></ion-img>

  <ion-text color="--ion-color-primary" class="ion-text-center">
    <h1>{{evento.name}}</h1>
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let instancia of evento.instances">
      <ion-label>
        <ion-note *ngIf="isPast(instancia.endTime)" color="danger">
          Instância encerrada
        </ion-note>
        <h2>{{ instancia.date | date:'dd/MM/yyyy' }}</h2>
        <p>Horário: {{ instancia.startTime | date:'HH:mm' }} - {{ instancia.endTime | date:'HH:mm' }}</p>
      </ion-label>

      <ion-item>
        <ion-toggle 
          [checked]="instancia.isOpen" 
          [enableOnOffLabels]="true" 
          [disabled]="isPast(instancia.endTime)"
          (ionChange)="onToggleChange(instancia.id)">
            <p [ngStyle]="{'color': instancia.isOpen ? 'green' : 'gray'}">
              {{ instancia.isOpen ? 'Aberto' : 'Fechado' }}
            </p>
        </ion-toggle>
      </ion-item>

      <ion-button [disabled]="isPast(instancia.endTime)" size="small" >Ver mais</ion-button>
    </ion-item>
  </ion-list>
</ion-content>



