/* This sets a different item border color for the default theme on ios and md */
:root {
    --ion-item-border-color: var(--ion-background-color-step-200);

    
    --ion-color-primary: #fba62d;
    


    --ion-color-primary-buttons: #fba62d;
    
    --ion-color-primary-buttons-contrast: #fff;
    --ion-color-primary-buttons-contrast-rgb: 255, 255, 255;


    --ion-color-primary-inputs: #2a2a2a;
    --ion-color-primary-text-inputs: #96959a;
  }
  
  /* This sets a different background and item background for the default theme on ios */
  :root.ios {
    --ion-background-color: var(--ion-background-color-step-50, #fba62d);
    --ion-toolbar-background: var(--ion-background-color);
    --ion-item-background: #fba62d;
  }
  
  /* This sets a different background and item background for the default theme on md */
  :root.md {
    --ion-background-color: var(--ion-background-color-step-100, #ffdba9);
    --ion-toolbar-background: var(--ion-background-color);
    --ion-item-background: #fff;
  }
  
  /* This sets a different item background when dark mode is enabled on ios and md */
  .ion-palette-dark.ios,
  .ion-palette-dark.md {
    --ion-item-background: #1c1c1d;
  }