      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nome"
            labelPlacement="stacked"
            type="text"
            placeholder="Gustavo Karnopp"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="password" type="password" labelPlacement="stacked" label="Senha"[(ngModel)]="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Nome do Evento"
            labelPlacement="stacked"
            type="text"
            placeholder="Panela de quinta-feira"
            [(ngModel)]="eventName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select labelPlacement="stacked" label="Tipo do Evento" placeholder="GAME" value="GAME" [(ngModel)]="eventType">
            <ion-select-option value="game">GAME</ion-select-option>
            <ion-select-option value="championship">CHAMPIONSHIP</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="input-container"> 
          <ion-button (click)="confirm()" shape="round" expand="block">Registrar Lider</ion-button>
        </div>
      </ion-content>

