      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            class="input"
            label="Nome"
            labelPlacement="stacked"
            type="text"
            placeholder="Nome do Leader"
            [(ngModel)]="this.registrarUserLeader.name"
            fill="outline" 
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            class="input"
            label="Email"
            labelPlacement="stacked"
            type="email"
            placeholder="leader@gmail.com"
            [(ngModel)]="this.registrarUserLeader.email"
            fill="outline" 
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input 
            class="password input" 
            type="password" 
            labelPlacement="stacked" 
            label="Senha"
            [(ngModel)]="this.registrarUserLeader.password"
            placeholder="*********"
            fill="outline" 
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            class="input"
            label="Nome do Evento"
            labelPlacement="stacked"
            type="text"
            fill="outline" 
            placeholder="Panela de quinta-feira"
            [(ngModel)]="this.registrarUserLeader.eventName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea 
            class="ion-textarea"
            label="Descrição do Evento" 
            labelPlacement="floating" 
            fill="outline" 
            placeholder="Sobre o Evento" 
            [(ngModel)]="this.registrarUserLeader.description"
          ></ion-textarea>

        </ion-item>
        <ion-item>
          <ion-label>Início Evento</ion-label>
          <ion-datetime-button datetime="iniciodatetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                id="iniciodatetime" 
                (ionChange)="updateStartDateTime($event)"
              ></ion-datetime>
            </ng-template>
          </ion-modal>     
        </ion-item>
        <ion-item>
          <ion-label>Fim Evento</ion-label>
          <ion-datetime-button datetime="fimdatetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                id="fimdatetime" 
                (ionChange)="updateEndtDateTime($event)"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
          <!-- <ion-input
            class="input"
            label=" Fim"
            labelPlacement="stacked"
            type="text"
            placeholder="Panela de quinta-feira"
            [(ngModel)]="this.registrarUserLeader.endDateTime"
            fill="outline" 
          ></ion-input> -->
        </ion-item>
        <ion-item>
          <ion-select 
            class="ion-select"
            labelPlacement="stacked" 
            label="Tipo do Evento" 
            fill="outline"  
            placeholder="GAME" 
            value="GAME" 
            [(ngModel)]="this.registrarUserLeader.type"
          >
            <ion-select-option value="game">GAME</ion-select-option>
            <ion-select-option value="championship">CHAMPIONSHIP</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="input-container"> 
          <ion-button (click)="confirm()" shape="round" expand="block">Registrar Lider</ion-button>
        </div>
      </ion-content>

