
/* Custom Global Styles */
.example-content{
    bottom: 50px !important;
    top: 50px !important;
}

/* (Optional) This is added to prevent the flashing that happens when toggling between palettes */
ion-item {
    --transition: none;
}

ion-router-outlet {
    --ion-animation-duration: 0ms !important;
    --ion-page-transition: none !important;
  }